<h2>Login</h2>

<p><b>NOTE</b>: This form is <b>not secure</b>! Do not use an
important password; it will be transmitted and stored in
plaintext!</p>

{% if failed %}
<p style="color:red">Incorrect username or password</p>
{% endif %}

{% if reset %}
<p style="color:green">Successfully submitted password reset
request. (Actually resetting the password is not implemented.)</p>
{% endif %}

<form id="csrfform" action="/" method="GET">
  <select name="csrfdefense" id="csrfdefense">
    <option value="0" {% ifequal csrfdefense 0 %}selected{% endifequal %}>None</option>
    <option value="1" {% ifequal csrfdefense 1 %}selected{% endifequal %}>Global counter</option>
    <option value="2" {% ifequal csrfdefense 2 %}selected{% endifequal %}>Referer validation</option>
  </select><br>
  <input type="submit" value="Change CSRF Defense"></input>
</form>

<form id="loginform">
{% if csrf_counter %}
  <input type="hidden" name="csrfcounter" id="csrfcounter"
         value="{{csrf_counter}}"></input>
{% endif %}
  <label for="sqlfilter">SQL Filter:</label>
  <select name="sqlfilter" id="sqlfilter">
    <option value="0" selected>None</option>
    <option value="1">Escape single quotes (extra credit)</option>
<!--    <option value="2">Remove quotes, semicolons, & dashes</option>-->
  </select><br>

  <label for="user">User</label>
  <input type="text" name="user" id="user"></input>
  <br>
  <label for="password">Password</label>
  <input type="password" name="password" id="password"></input>
  <br>
  <input type="submit" name="login" value="Login"
         onclick="login_action='login'; replaceSidebar(); return false;"></input>
  <input type="submit" name="register" value="Create Account"
         onclick="login_action='register'; replaceSidebar(); return false;"></input>

{% if failed %}
  <h3>Secret question</h3>

  <p>What is your favorite college football team?</p>

  <label for="secretanswer">Answer</label>
  <input type="text" name="secretanswer" id="secretanswer"></input><br>
  <input type="submit" name="reset" value="Reset password"
         onclick="login_action='reset'; replaceSidebar(); return false;"></input>
{% endif %}
</form>

